/* ---------------------------------------- */
/* css variables                            */
/* ---------------------------------------- */

:root {
  --default-light-color: antiquewhite;
  --default-dark-color: #4a1e06;
}

/* ---------------------------------------- */
/* custom fonts                             */
/* ---------------------------------------- */

@font-face {
	font-family: 'menlo';
	src: url('./media/Menlo-Regular-01.ttf');
}

@font-face {
	font-family: 'magicmedieval';
	src: url('./media/Magicmedieval-pRV1.ttf');
}


/* ---------------------------------------- */
/* main formatting                          */
/* ---------------------------------------- */
body {
	background-color: var(--default-light-color);
	color: var(--default-dark-color);
	font-family: 'menlo';
}


h1 {
	text-align: center;
	font-family: 'magicmedieval';
	font-size: 60px;
	margin-top: 24px;
	margin-bottom: 18px;
	height: 6vh;
}

h2 {
	text-align: center;
	font-family: 'magicmedieval';
	font-size: 40px;
	margin-top: 12px;
	margin-bottom: 9px;
}

#flexContainer1 {
	width: 100%;
	/* height: 850px; */
	height: 87vh;

	display: flex;
}

#flexContainer2 {
	flex-direction: column;
	display: flex;
}

#flexContainer2 >div {
	margin: 10px;
}

#gameMap {
	background-color: black;
	width: 1200px;
	height: 720px;
}

#mapLabel {
	width: 100%;
	margin: 5px;
	text-align: center;
}

#mapInfo {
	flex-grow: 1;
	border: 2px solid;
	border-radius: 6px;
	padding: 5px;
}

#playerStats {
	flex-grow: 1;
	margin: 10px;
	border: 2px solid;
	border-radius: 6px;
	padding: 5px;

	font-size: larger;
}

#statPortrait {
	display: block;
	width: 120px;
	height: 180px;
	border-radius: 4px;
	margin: 5px auto;
}

#statName {
	font-size: x-large;
	font-weight: 600;
	color: black;
	width: 100%;
	text-align: center;
	margin: 5px auto;
}

#statHp {
	color: green;
}

#statMana {
	color: blue;
}

.condition {
	background-color: purple;
	color: var(--default-light-color);
}

#gameMessages {
	flex-grow: 1;
	margin: 10px;
	border: 2px solid;
	border-radius: 6px;
	padding: 5px;
}

#gameMessages >div {
	color: slategray;
}

.warning {
	color: darkorange;
}

#gameMessages >div.player-attack {
	color: darkgreen;
}
#gameMessages >div.player-death {
	color: darkred;
	font-weight: bold;
	text-decoration: underline;
}

#gameMessages >div.player-heal {
	color: green;
}


#gameMessages >div.enemy-attack {
	color: darkred;
}

#gameMessages >div.enemy-death {
	color: darkgreen;
	font-weight: bold;
	text-decoration: underline;
}


/* ---------------------------------------- */
/* popup dialogs                            */
/* ---------------------------------------- */

#dialogContainer {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;	
}

#dialogContainer >div {
	display: none;
	position: relative;
	background-color: var(--default-light-color);
	margin: auto;
	padding: 5px 40px;
	width: 90%;
	height: 80%;
	max-width: 1200px;
	border-radius: 6px;
}

#dialogContainer hr {
	border-top: 2px solid var(--default-dark-color);
	width: 90%;
}


.inventory-item-name {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	flex-grow: 99;
}

.inventory-row {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inventory-row.selected {
	border: 1px solid var(--default-dark-color)
}

.inventory-row.selected :first-child {
	font-style: italic;
	opacity: 50%;
}

.inventory-row:not(.selected) :last-child {
	display: none;
}
